@model IEnumerable<WebServer.Models.MessageList>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Users)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Messages)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                   @foreach (var user in item.Users)
                    {
                        <li>@user.Nickname</li>
                    }
                </td>
                <td>
                   @foreach (var message in item.Messages)
                    {
                        <li>@message.Content</li>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
